<!DOCTYPE html>
<html>
<head>
    <title>Image Resizer</title>

    <!-- Link CSS stylesheet -->
    <link rel="stylesheet" href="/static/css/index.css">

    <!-- Include javascript -->
    <script src="/static/js/index.js" defer></script>
</head>

<body>
    <header>
        <h1></h1>
    </header>

    <main>
        <!-- Configuration section for image upload and resize options -->
        <div class="configurations">
            <h2> Upload image and configure resize options: </h2>
            
            <!-- Form to input image and dimensions -->
            <form onsubmit="event.preventDefault(); UploadAndResize(); return false;">
                <!-- Image upload input -->
                <label for="ImageUpload">Upload Image:</label>
                <input type="file" id="ImageUpload" accept="image/*">
                <br>
            
                <!-- Input fields for width and height -->
                <label for="width">Width:</label>
                <input type="number" id="width" placeholder="Enter width">
                <br>
            
                <label for="height">Height:</label>
                <input type="number" id="height" placeholder="Enter height">
                <br>
            
                <!-- Button to trigger image resizing -->
                <button type="submit" id="SubmitForm">Resize Image</button>
            </form>

            <!-- Error messages section -->
            <ul class="flashes">
                <!-- Error messages will be displayed here -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <li><b>{{ message }}</b></li>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </ul>
        </div>

        <!-- Section to display resized image and download link -->
        <div class="Results">
            <h2>Resized Image:</h2>
            <img id="ResizedImage" alt="Resized Image">
            <br>
            <a href="#" id="DownloadLink" download="resized_image.jpg">
                <button>Download Resized Image</button>
            </a>
        </div>
    </main>
</body>
</html>
